<div class="row">
  <div class="col-md-10 col-lg-8 mx-auto">
    <h1 class="mb-3">{{'user.changePassword.title' | translate}}</h1>

    <form class="card mb-5" (ngSubmit)="submit()" [formGroup]="form">

      <div class="card-body">
        <div class="form-body" *ngIf="showForm">
          <div class="form-group">
            <label for="currentPassword">{{'user.changePassword.currentPassword' | translate}}<span class="required"></span></label>
            <input type="password" id="currentPassword" class="form-control" [formControl]="currentPassword" />

            <div class="text-danger" *ngIf="(currentPassword.touched || currentPassword.dirty) && currentPassword.errors">
              <div *ngIf="currentPassword.errors['required']">{{'user.changePassword.vld.currentPasswordReq'
                | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword">{{'user.changePassword.newPassword' | translate}}<span class="required"></span></label>
            <input type="password" id="newPassword" class="form-control" [formControl]="newPassword" [placeholder]="'user.changePassword.tip.passwordLen'|translate:LIMITS"
            />

            <div class="text-danger" *ngIf="(newPassword.touched || newPassword.dirty) && newPassword.errors">
              <div *ngIf="newPassword.errors['required']">{{'user.changePassword.vld.newPasswordReq'
                | translate}}</div>
              <div *ngIf="!newPassword.errors['required']">
                <div *ngIf="newPassword.errors['minlength']">{{'user.register.vld.passwordMinLen' | translate:LIMITS}}</div>
                <div *ngIf="newPassword.errors['maxlength']">{{'user.register.vld.passwordMaxLen' | translate:LIMITS}}</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">{{'user.changePassword.confirmNewPassword' | translate}}<span
                class="required"></span></label>
            <input type="password" id="confirmNewPassword" class="form-control" [formControl]="confirmNewPassword"
              [placeholder]="'user.changePassword.tip.passwordLen'|translate:LIMITS" />

            <div class="text-danger" *ngIf="confirmNewPassword.touched || confirmNewPassword.dirty">
              <div *ngIf="confirmNewPassword.errors">
                <div *ngIf="confirmNewPassword.errors['required']">
                  {{'user.changePassword.vld.confirmNewPasswordReq' | translate}}
                </div>
                <div *ngIf="!confirmNewPassword.errors['required'] && confirmNewPassword.errors['doesNotMatch']">
                  {{'user.changePassword.vld.passwordDoesNotMatch' | translate}}
                </div>
              </div>
              <div *ngIf="!confirmNewPassword.errors && form.errors">
                <div *ngIf="form.errors['doesNotMatch']">
                  {{'user.changePassword.vld.passwordDoesNotMatch' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="inFormNoti.msgKey" [ngClass]="inFormNoti.cssClass">{{inFormNoti.msgKey | translate}}</div>
      </div> <!-- .card-body -->

      <div class="card-footer" *ngIf="showForm">
        <div class="row">
          <div class="col-md-6 mb-2 mb-md-0">
            <button class="btn btn-block btn-primary" type="submit" [disabled]="form.invalid || submitted">
              {{'user.changePassword.title' | translate}}
            </button>
          </div>

          <div class="col-md-6 mb-md-0">
            <button class="btn btn-block btn-secondary" type="button" [disabled]="submitted" (click)="resetForm()">
              {{'common.reset' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>