* {
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", "Segoe UI", Ubuntu, sans-serif;
  width: 80%;
  min-width: 1046px;
  max-width: 1200px;
  margin: 0 auto;
  color: #222219;
  font-size: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0 0.14rem #666;
}
#header {
  background: #404;
  padding: 1.5rem 2rem;
  font-family: 'Noto Serif', Cambria, serif;
}
#header img {
  width: 4rem;
  margin-right: 1rem;
  display: block;
}
.ctrl-name {
  font-weight: bold;
  color: #333;
}
#header > div > a::after {
  content: "";
  display: block;
  clear: both;
}
#header > div > a > img,
#header > div > a > div {
  float: left;
}
.header-text-top {
  font-size: 2.5rem;
  line-height: 3rem;
}
.header-text-bottom {
  font-size: .9rem;
  line-height: 1rem;
  color: rgba(255,255,255,0.4);
}
.main-content {
  background-color: #fcfcfa;
  padding: 2rem;
}
#footer {
  background: #f4f4f0;
  color: #444441;
  padding: 1rem 0;
  font-size: 0.85rem;
}
.back-button a {
  display: inline-block;
  margin-bottom: 2rem;
}
.back-button a:before {
  content: 'â†';
  padding-right: 0.3rem;
}
noscript {
  background-color: #d30;
  color: #fff;
  padding: 1rem;
  display:block;
  margin-bottom: 1.5rem;
}
a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #aa2277;
}
a:hover {
  background-color: rgba(170, 34, 119, .1);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', 'Cambria', serif;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: .5em;
}
h1, h2, h3, h4, h5, h6,
strong, th {
  color: #333;
}
p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
ul, ol, dl, table {
  margin-top: 0;
  margin-bottom: 2rem;
}
ul, ol {
  padding-left: 3rem;
}
li {
  margin-bottom: .5rem;
}
li p {
  margin-bottom: .5rem;
}
li ul {
  margin-bottom: 1rem;
}
dl dt {
  margin-bottom: .5rem;
}
.full-width {
  width: 100%;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.list-style-inside {
  padding-left: 0 !important;
  list-style-position: inside;
}
.zero-bottom {
  margin-bottom: 0 !important;
}
.zero-bottom > li:last-of-type {
  margin-bottom: 0 !important;
}
code, pre, .p-alert, .ctrl-name {
  font-family: 'Fira Code', Consolas, monospace;
}
code {
  font-size: .9rem;
}
code.url {
  padding: .15rem;
  color: #0000aa;
  background-color: #e0e0ff;
}
code.pattern {
  color: #006400;
  background-color: #e0ece0;
  word-break: unset;
  word-wrap: unset;
  overflow-wrap: unset;
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
  padding: .15rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -.7rem;
  margin-right: -.7rem;
  height: 0;
  border: 0;
  border-top: 0.06rem solid #ccc;
}
.ptk-table-wrapper {
  margin-left: -.5rem;
  margin-right: -.5rem;
}
.ptk-table {
  border-collapse: collapse;
  caption-side: top;
  margin-bottom: 3rem;
}
.table-valign-top > tbody > tr > td {
  vertical-align: top;
}
.ptk-table-compact {
  border-collapse: collapse;
  margin: -.25rem -.5rem;
}
.ptk-table-compact > thead > tr > th,
.ptk-table-compact > tbody > tr > td {
  text-align: left;
  padding: .25rem .5rem;
  border: 1px solid #eee;
}
.ptk-table-simple > tbody > tr > td:first-of-type {
  text-align: rightt;
}
.ptk-table-simple > caption {
  text-align: left;
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
}
.ptk-table-name {
  padding: .5rem;
  font-size: 1.1em;
  text-align: left;
}
.ptk-table-name > span > span {
  font-weight: bold;
  color: #333;
}
.ptk-table > thead > tr {
  border-bottom: .14rem solid #eee;
  border-top: .14rem solid #eee;
}
.ptk-table > tbody > tr {
  border-bottom: .07rem solid #f2f2f2;
}
.ptk-table > thead > tr > th {
  padding: .7rem .5rem;
  text-align: left;
}
.ptk-table > tbody > tr > td {
  padding: .5rem;
}
.field-name {
  width: 20%;
}
.field-desc {
  width: 42%;
}
.toc {
  list-style: none;
}
.toc > li {
  position: relative;
}
.toc > li:before {
  content: "";
  width: .5rem;
  height: .5rem;
  background: #aa2277;
  display: block;
  position: absolute;
  left: -1.2rem;
  top: .33rem;
  transform: rotate(45deg);
}
.error-codes {
  margin-bottom: 2rem;
}
.error-codes > dt > code {
  font-weight: bold;
  color: #333;
}
.note {
  border-left: .2rem solid darkgoldenrod;
  padding: .7rem;
  background: #f4f4e7;
}
.response > dt {
  font-style: italic;
}
.ptk-table-simple {
  border-collapse: collapse;
}
.ptk-table-simple > tbody > tr > td {
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
}
.ptk-table-simple > tbody > tr > td:first-of-type {
  padding-left: 0;
}
.p-alert:after {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  font-size: .9rem;
  line-height: .6rem;
  text-align: center;
  padding: .2rem;
  margin-right: .5rem;
}
.p-alert.danger:after {
  content: "D";
  color: #c00;
  border: 1px solid;
}
.p-alert.info:after {
  content: "I";
  color: #00c;
  border: 1px solid;
}
.p-alert.warning:after {
  content: "W";
  color: #ea0;
  border: 1px solid;
}
.p-alert.success:after {
  content: "S";
  color: #173;
  border: 1px solid;
}
.ctrl-list + hr {
  border-top-style: dashed;
}