<div class="row">
  <div class="col-12">
    <form class="card mb-5" [formGroup]="form" (submit)="submit()">
      <h2 class="card-header h4">{{'navbar.addUser' | translate}}</h2>

      <div class="card-body">
        <div class="form-body" *ngIf="showForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstName">{{'profile.firstName' | translate}}</label>
                <input type="text" class="form-control" id="firstName" [formControl]="firstName" />

                <div class="text-danger" *ngIf="(firstName.touched || firstName.dirty) && firstName.errors">
                  <div *ngIf="firstName.errors['required']">{{'user.add.vld.firstNameReq' | translate}}</div>
                  <div *ngIf="firstName.errors['maxlength']">{{'user.add.vld.firstNameMaxLen' | translate:LIMITS}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="lastName">{{'profile.lastName' | translate}}</label>
                <input type="text" class="form-control" id="lastName" [formControl]="lastName" />

                <div class="text-danger" *ngIf="(lastName.touched || lastName.dirty) && lastName.errors">
                  <div *ngIf="lastName.errors['required']">{{'user.add.vld.lastNameReq' | translate}}</div>
                  <div *ngIf="lastName.errors['maxlength']">{{'user.add.vld.lastNameMaxLen' | translate:LIMITS}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">{{'profile.email' | translate}}</label>
            <input type="email" class="form-control" id="email" [formControl]="email" />

            <div class="text-danger" *ngIf="(email.touched || email.dirty) && email.errors">
              <div *ngIf="email.errors['required']">{{'user.add.vld.emailReq' | translate}}</div>
              <div *ngIf="!email.errors['required'] && email.errors['pattern']">{{'user.add.vld.emailInvld'
                | translate}}</div>
              <div *ngIf="!email.errors['required'] && email.errors['alreadyexist']">{{'user.add.vld.emailAlreadyExist'
                | translate}}</div>
            </div>
          </div>

          <div class="form-group">
            <label for="locale">{{'profile.locale' | translate}}</label>
            <select id="locale" class="form-control" [formControl]="locale">
              <option value="">Select</option>
              <option *ngFor="let lc of formDeps['locales']" [value]="lc">{{'langs.' + lc | translate}}</option>
            </select>

            <div class="text-danger" *ngIf="(locale.touched || locale.dirty) && locale.errors">
              <div *ngIf="locale.errors['required']">{{'user.add.vld.localeReq' | translate}}</div>
            </div>
          </div>
        </div><!-- .form-body -->

        <div *ngIf="inFormNoti.msgKey" [ngClass]="inFormNoti.cssClass">{{inFormNoti.msgKey | translate}}</div>
      </div> <!-- .card-body -->

      <div class="card-footer" *ngIf="showForm">
        <div class="row">
          <div class="col-md-6 mb-2 mb-md-0">
            <button class="btn btn-block btn-primary" type="submit" [disabled]="form.invalid || submitted">{{'navbar.addUser' | translate}}</button>
          </div>

          <div class="col-md-6 mb-md-0">
            <button class="btn btn-block btn-secondary" type="button" [disabled]="submitted" (click)="resetForm()">{{'common.reset'
              | translate}}</button>
          </div>
        </div>
      </div>
    </form> <!-- .card -->
  </div>
</div>