/*
@import url('https://fonts.googleapis.com/css?family=Mukta:400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');
/**/

:root {
  --default-font-family: 'Fira Sans', Mukta, Ubuntu, 'Segoe UI', Arial, Helvetica, sans-serif;
}
body {
  font-family: var(--default-font-family);
  overflow-y: scroll;
}
button, option, input {
  font-family: var(--default-font-family);
}
a:link {
  outline: 0;
}
.main-content {
  padding-top: 1rem;
  position: relative;
}
.clickable {
  cursor: pointer;
}
footer {
  background: #e7e7e7;
}
footer>div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ptk-inline-nav {
  list-style: none;
  padding: 0;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.ptk-inline-nav:after {
  content: "";
  display: block;
  clear: both;
}
.ptk-inline-nav li {
  float: left;
  margin-bottom: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
}
.ptk-inline-nav a {
  text-decoration: none;
  outline: 0;
  padding: .5rem 1.25rem;
  border-radius: .2rem;
}
.ptk-inline-nav a:hover {
  background-color: #fcf3e5;
}
.ptk-inline-nav a.ptk-active {
  color: #dd8800;
  background-color: #fcf3e5;
}
.in-form-error {
  border-radius: .25rem;
  padding: .5rem 1rem;
  margin: 0;
  color: #721c24;
  background-color: #f8d7da;
  border: .07rem solid #f5c6cb;
}
.in-form-info {
  border-radius: .25rem;
  padding: .5rem 1rem;
  margin: 0;
  color: #0c5460;
  background-color: #d1ecf1;
  border: .07rem solid #bee5eb;
}
.form-group .text-danger {
  font-size: .9rem;
}
.required::before {
  content: "*";
  color: #721c24;
  font-size: .8rem;
  vertical-align: super;
  padding-left: .25rem;
}
.block-ui {
  position: fixed;
  z-index: 15000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}
.block-ui-component {
  padding: 1.5rem;
  background: white;
  border-radius: .25rem;
  margin-top: 50%;
}
.block-ui-image > img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.block-ui-text {
  width: 100%;
  padding-left: 1rem;
  height: 2rem;
}
.ptk-in-form-table-wrapper {
  background: #ffffd0;
  padding: .75rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  font-size: .9rem;
  border-radius: .25rem;
}

.ptk-in-form-table {
  border-collapse: collapse;
  width: 100%;
}

.ptk-in-form-table caption {
  caption-side: top;
  font-weight: bold;
  color: #666;
  padding-top: 0;
  padding-left: .75rem;
  padding-right: .75rem;
}

.ptk-in-form-table td {
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 50%;
}
.ptk-in-form-table > tbody > tr:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, .05);
}