<div class="row mb-4 mt-3">
  <div class="col-md-7 col-lg-5 mx-auto">
    <form class="card" (ngSubmit)="submit()" [formGroup]="form">
      <h2 class="card-header h4">{{'login.title' | translate}}</h2>

      <div class="card-body">
        <div class="form-body" *ngIf="showForm">
          <div class="form-group">
            <label for="username">{{'login.username' | translate}}</label>
            <input type="text" class="form-control" id="username" [formControl]="username" />
            <div *ngIf="(username.touched || username.dirty) && username.errors" class="text-danger">
              <div *ngIf="username.errors['required']">{{'login.vld.usernameReq' | translate}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">{{'login.password' | translate}}</label>
            <input type="password" class="form-control" id="password" [formControl]="password" />
            <div *ngIf="(password.touched || password.dirty) && password.errors" class="text-danger">
              <div *ngIf="password.errors['required']">{{'login.vld.passwordReq' | translate}}</div>
            </div>
          </div>
        </div>

        <div *ngIf="inFormNoti.msgKey" [ngClass]="inFormNoti.cssClass">{{inFormNoti.msgKey | translate}}</div>
      </div>

      <div class="card-footer" *ngIf="showForm">
        <div class="row">
          <div class="col-md-6 mb-3 mb-md-0">
            <button class="btn btn-block btn-primary" [disabled]="form.invalid || submitted" type="submit">{{'login.title'
              | translate}}</button>
          </div>
          <div class="col-md-6">
            <a [routerLink]="['/forgotPassword']" class="btn btn-block btn-secondary" type="button">{{'forgotPwd.title'
              | translate}}</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>